body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 180vh;
}

h1, h2 {
    color: #333;
}

h1 {
    margin-bottom: 17px;
    font-size: 2em;
    display: flex;
    align-items: center;
}

.header-image {
    margin-right: 2px;
    max-width: 80px; /* Ajuste conforme necessário */
    height: auto;
}

form {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: auto;
}

h2 {
    margin-top: 18px;
    font-size: 1.5em;
}

div {
    margin-bottom: 12px;
}

label {
    margin-left: 8px;
    color: #555;
    font-size: 1em;
}

input[type="checkbox"] {
    margin-right: 8px;
    transform: scale(1.2);
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    margin: 5px 0;
}



.satisfeito-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    margin: 5px auto;
    display: block;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 999;
}

#total-price {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    text-align: center;
    position: fixed;
    bottom: 50px;
    left: 10px;
    background-color: white;
    padding: 10px;
    border-top: 1px solid #ccc;
    width: auto;
    box-sizing: border-box;
    z-index: 999;
}

button:hover {
    background-color: #0056b3;
}

.employee-control {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.employee-control button {
    margin: 0 8px;
    padding: 5px 15px;
}

.employee-count {
    font-size: 1.2em;
    font-weight: bold;
}

#more-options-montador,
#more-options-domestica {
    padding-left: 18px;
    margin-top: 8px;
    display: none;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal div {
    background: #fff;
    padding: 18px;
    border-radius: 6px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#modal h2 {
    margin-top: 0;
}

#modal input,
#modal textarea {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#modal button {
    width: 100%;
    margin-top: 10px;
}
.trabalhos-realizados-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    margin: 5px 0; /* Centraliza o botão horizontalmente */
    display: block;
    position: fixed;
    bottom: 560px; /* Ajuste a posição para que o botão fique acima do botão "Satisfeito" */
    left: 10px;
    z-index: 999;
}







#trabalhos-modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro para destacar o modal */
}

#trabalhos-modal .modal-content {
    background-color: #fefefe;
    margin: 10% auto 0; /* Centraliza o modal verticalmente */
    padding: 10px;
    border: 1px solid #888;
    width: 40%; /* Define a largura do modal */
    height: auto; /* Altura automática */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical se necessário */
    box-sizing: border-box; /* Inclui a borda no cálculo da altura total */
}

#trabalhos-modal .modal-content img,
#trabalhos-modal .modal-content video {
    max-width: 80%; /* Ajuste conforme necessário */
    max-height: 80%; /* Ajuste conforme necessário */
    display: block; /* Garante que a mídia fique centralizada */
    margin: 0 auto 10px; /* Adiciona um espaço entre as mídias e centraliza */
    object-fit: contain; /* Garante que o conteúdo seja totalmente visível */
}


#trabalhos-modal .modal-content h2 {
    text-align: center; /* Centraliza o texto horizontalmente */
    margin-top: 0; /* Remove a margem superior padrão */
}

#trabalhos-modal .modal-content h2:first-of-type {
    font-size: 2em; /* Tamanho maior para o primeiro h2 */
    font-weight: bold; /* Negrito para destacar */
    color: #333; /* Cor mais escura para um contraste melhor */
    font-family: 'Georgia', serif; /* Fonte serifada para um toque clássico */
    padding-bottom: 10px; /* Espaçamento abaixo do texto */
    border-bottom: 2px solid #ccc; /* Linha abaixo do primeiro h2 */
}

#trabalhos-modal .modal-content h2:nth-of-type(2) {
    font-size: 1.2em; /* Tamanho menor para o segundo h2 */
    font-weight: normal; /* Peso normal para um estilo mais sutil */
    color: #555; /* Cor ligeiramente mais clara */
    font-family: 'Arial', sans-serif; /* Fonte sans-serif para um contraste */
    margin-bottom: 10px; /* Espaçamento abaixo do segundo h2 */
}




#trabalhos-modal .modal-content h3 {
    text-align: center; /* Centraliza o texto horizontalmente */
    margin-top: 0; /* Remove a margem superior padrão */
}

#trabalhos-modal .modal-content h3:first-of-type {
    font-size: 2em; /* Tamanho maior para o primeiro h2 */
    font-weight: bold; /* Negrito para destacar */
    color: #333; /* Cor mais escura para um contraste melhor */
    font-family: 'Georgia', serif; /* Fonte serifada para um toque clássico */
    padding-bottom: 10px; /* Espaçamento abaixo do texto */
    
}

#trabalhos-modal .modal-content h3:nth-of-type(2) {
    font-size: 1.2em; /* Tamanho menor para o segundo h2 */
    font-weight: normal; /* Peso normal para um estilo mais sutil */
    color: #555; /* Cor ligeiramente mais clara */
    font-family: 'Arial', sans-serif; /* Fonte sans-serif para um contraste */
    margin-bottom: 10px; /* Espaçamento abaixo do segundo h2 */
}
